include _includes/header
div.container
      .row
        #step1
          .span12
            form.form-horizontal
              legend All the items
              ul.breadcrumb
               span.divider /
              .dummy
              .control-group
                select.span2.bulk-action
                  option(value="-1") --Bulk action--
                  option(value="approve") Approve
                  option(value="remove") Remove
                input#bulk-execute.btn(type="button",value="Do it!")
                table#series-table.table.table-striped.table-bordered
                  thead
                    tr
                      th.span1
                        input#checkAll(type="checkbox")
                      th Title
                      th Type
                      th.span1 Approve
                      th.span1 Remove
                  tbody
                    tr#loadingDiv 
                      td Loading...
      include _includes/footer
