include header

div.container
      ul.breadcrumb
        li.active
          a(href='#step1') Series
      .dummy
      .row
        #step1
          .span12
            form.form-horizontal
              legend All the items
              .control-group
                table#series-table.table.table-striped.table-bordered
      include footer
