include _includes/header
div.container
      ul.breadcrumb
        li.active Series
      .dummy
      .row
        #step1
          .span12
            form.form-horizontal
              legend All the items
              .control-group
                select.span2.bulk-action
                  option(value="-1") --Bulk action--
                  option(value="approve") Approve
                  option(value="remove") Remove
                input#bulk-execute.btn(type="button",value="Do eet!")
                table#series-table.table.table-striped.table-bordered
                  thead
                    tr
                      th.span1
                        input#checkAll(type="checkbox")
                      th Title
                      th.span1 Approve
                      th.span1 Remove
                  tbody
      include _includes/footer