include header

div.container
      ul.breadcrumb
        li.active
          a(href='#step1') Step 1
          span.divider |
        li
          a(href='#step2') Step 2
      .dummy
      .row
        include properties
        #step1
          .span7
            form.form-horizontal
              legend All the items
              .control-group
                ul
                  - series.forEach(function(item){
                    label.checkbox #{item.name} 
                      input#series(type='checkbox', name='series')
                  - })
              
              .form-actions
                ul.pager
                  li
                    a#step2Btn(href='#step2') Next
                .dummy
        div
          form.form-horizontal(enctype='multipart/form-data', method='post', action='post')
            #step2
              .span7
                #title
                  h2  Metadata 
                  fieldset
                  .form-actions
                    ul.pager
                      li
                        a(href='#') Save
                    .dummy

      include footer
