include header
script(type='text/javascript')
  console.log("Admin.jade");
div.container
      ul.breadcrumb
        li.active
          a(href='#step1') Series
      .dummy
      .row
        #step1
          .span12
            form.form-horizontal
              legend All the items
              .control-group
                table#series-table.table.table-striped.table-bordered
                  thead
                    tr
                      th.span1
                        input(type="checkbox")
                      th Title
                      th Author
                  tbody
                    - series.forEach(function(item){
                    tr
                      td
                        input(type="checkbox")
                      td 
                        a(href="/admin/#{item._id}") #{item.name}
                      td #{item.author}
                    - })
      include footer
