include _includes/header
div.container
      .row
        #step1
          .span12
            form.form-horizontal
              legend All the items
              ul.breadcrumb
                li
                  a(href="#collections") Home
                  span.divider |
              .dummy
              .control-group
                select.span2.bulk-action
                  option(value="-1") --Bulk action--
                  option(value="approve") Approve
                  option(value="remove") Remove
                input#bulk-execute.btn(type="button",value="Do it!")
                span.alert.alert-success.successbox
                  a.close(data-dismiss='alert') ×
                  strong Successful
                  p Creation successful!
                table#series-table.table.table-striped.table-bordered
                  thead
                    tr
                      th.span1
                        input#checkAll(type="checkbox")
                      th Title
                      th.span2 Fedora ID
                      th Type
                      th.span1 Approve
                      th.span1 Remove
                  tbody
                    tr#loadingDiv 
                      td(colspan="5") Loading...
                div.pagination.pagination-centered
                  ul
      include _includes/footer
