table(class="table table-bordered")
                 tbody
                   each val, key in items
                      tr
                        td #{key}:
                        td #{val.filename}
                        