include _includes/header
div.container
	p List of all binary blobs in mongodb, this page is just for demonstration purposes.
	.row

	div.span12
	table(class="table table-bordered")
		tbody
			each val, key in items
				tr
					td #{key}:
					td #{val.filename}

	include _includes/footer
