include _includes/header
div.container
      ul.breadcrumb
        li.active Media
      .row
        #step1
          .span12
            legend All the items
            div
              fieldset.form-inline
                select.span2#searchField
                  option(value="label") Label
                input#searchValue.span2(type="text",placeholder="Query")
                a#query.btn
                  i.icon-search
                  &nbsp;Search
              table#series-table.table.table-striped.table-bordered
                thead
                  tr
                    th Title
                    th Author
                    th.span1 Type
                tbody
                  tr
                    td(colspan='3') Insert search query
    include _includes/footer

