include _includes/header

div.container
	div.hero-unit
		h1=title
	div.row
		p.compare #{objid}
		div.span6
			h2 Mongo
			h3 Raw data
			pre#mongoData.well
		div.span6
			h2 Fedora
			h3 Raw data
			pre#fedoraData.well 
	include _includes/footer
