include _includes/header

div.container
      .row
        include _includes/properties
        #step1
          .span12
              .alert.alert-success.successbox
                 a.close(data-dismiss='alert') ×
                 strong Successful
                 p Creation successful!
              form   
                legend What do you want to create?
                ul.breadcrumb
                  li.active
                    a(href='') Home
                    span.divider |
                .div
                  p.leftSpacer Add:
                  .btn-group.leftSpacer
                    a.btn#createItems(href='#step4') Item
                    a.btn#createSerie(href='#step3') Series
                    a.btn#createCollection(href='#step2') Collection
                    a.btn#createMedia(href='#step5') Media
                .pagination
                  ul
                table#series-table.table.table-striped.table-bordered
                  thead
                    tr
                      th Title
                      th.span2 Label
                      th.span2 Type
                  tbody
                    tr.loadingDiv 
                      td(colspan='5') 
                        i.icon-refresh 
                        &nbsp;Loading...
                .pagination
                  ul
        div
          form.form-horizontal#collectionCreation(enctype='multipart/form-data', method='post', action='')
            #step2
              .span7
                #title
                  legend  Collection 
                  fieldset
                    .dataform
                  .form-actions
                    ul.pager
                      li
                        a#createCollectionBtn(href='#') Save
                    .dummy
          form.form-horizontal#serieCreation(enctype='multipart/form-data', method='post', action='')
            #step3
              .span7
                #title
                  legend Series 
                  fieldset
                    .control-group
                       label.control-label(for='series') parentId
                       .controls
                         label.control-label
                           input#seriesCollection.input-xlarge.disabled(type='text', disabled='')
                   .dataform
                  .form-actions
                    ul.pager
                      li
                        a#createSerieBtn(href='#') Save
                    .dummy
          form.form-horizontal#itemCreation(enctype='multipart/form-data', method='post', action='')
            #step4
              .span7
                legend Item
                .control-group
                       label.control-label(for='amount') Amount of items
                       .controls
                         label.control-label
                           input#amount(type='number', name='amount',value='1',min='1')
                .control-group
                       label.control-label(for='series') parentId
                       .controls
                         input#itemEditSelection.input-xlarge.disabled(type='text', disabled='')
                .dataform
                .form-actions
                  ul.pager
                    li
                      a#createItemBtn(href='#') Save
                  .dummy
          #step5
           .span9
                legend Create items with media
                h3 Location
                .control-group
                       label.control-label(for='series') parentId
                       .controls
                         input#mediaParent.input-xlarge.disabled(type='text', disabled='')
                .dummy
                .control-group
                   label.control-label Choose you option
                   .controls
                     label.radio
                       input#optionsRadios1(type='radio', name='media', value='one', checked='checked')
                       | Create one item and put all these files in it.
                     label.radio
                       input#optionsRadios2(type='radio', name='media', value='multi')
                       | Create an item for each file.
                include _includes/upload
                .form-actions
                  ul.pager
                    li
                      a#createMediaItem(href='#') Save
                  .dummy
      include _includes/footer
