include _includes/header

div.container
      ul.breadcrumb
        li.active
          a(href='#step1') Create
      .dummy
      .row
        include _includes/properties
        #step1
          .span7
              h2 What do you want to create?
              .control-group
                 a.btn#createCollection(href='#step2') Collection
              .control-group
                 a.btn#createSerie(href='#step3') Serie
              .control-group
                 a.btn#createItems(href='#step4') Item
        div
          form.form-horizontal#collectionCreation(enctype='multipart/form-data', method='post', action='collection/post')
            #step2
              .span7
                #title
                  h2  Collection 
                  fieldset
                    .control-group
                       label.control-label(for='name') Name
                       .controls
                         label.control-label
                           input#name(type='text', name='name')
                    .dataform
                  .form-actions
                    ul.pager
                      li
                        a#createCollectionBtn(href='#') Save
                    .dummy
          form.form-horizontal#serieCreation(enctype='multipart/form-data', method='post', action='series/create')
            #step3
              .span7
                #title
                  h2  Series 
                  fieldset
                    .control-group
                       label.control-label(for='series') Choose the collection
                       .controls
                         label.control-label
                           select.seriesCollection.chzn-select(name="collection", data-placeholder="Choose an collection...")
                    .control-group
                       label.control-label(for='name') Name
                       .controls
                         label.control-label
                           input#name(type='text', name='name')
                    .control-group
                       label.control-label(for='author') Author
                       .controls
                         label.control-label
                           input#author(type='text', name='author')
                   .dataform
                  .form-actions
                    ul.pager
                      li
                        a#createSerieBtn(href='#') Save
                    .dummy
          form.form-horizontal#itemCreation(enctype='multipart/form-data', method='post', action='item/create')
            #step4
              .span7
                h2 Item
                p Add items to a series.
                    .control-group
                       label.control-label(for='amount') Amount of items
                       .controls
                         label.control-label
                           input#amount(type='number', name='amount')
                    .control-group
                       label.control-label(for='series') What is the parent?
                       .controls
                         

                         label(for='series') Series
                           input(type="radio",name="collection",value="series") 
                         select#seriesItemCreation(name="serieSelect")
                         label(for='collection') Collection
                           input(type="radio",name="collection",value="collections") 
                         select.seriesCollection(name="collectionSelect")
                         label(for='collection') Items
                           input(type="radio",name="collection",value="items")
                         select.itemItems(name="itemSelect")

                .dataform
                .form-actions
                  ul.pager
                    li
                      a#creatItem(href='#') Save
                  .dummy  

      include _includes/footer
