include _includes/header

div.container
      ul.breadcrumb
        li.active
          a(href='#step1') Create
      .dummy
      .row
        include _includes/properties
        #step1
          .span7
              h2 What do you want to create?
              .control-group
                 a.btn#createCollection(href='#step2') Collection
              .control-group
                 a.btn#createSerie(href='#step3') Series
              .control-group
                 a.btn#createItems(href='#step4') Item
               .alert.alert-success.successbox
                 a.close(data-dismiss='alert') ×
                 strong Successful
                 p Creation successful!
        div
          form.form-horizontal#collectionCreation(enctype='multipart/form-data', method='post', action='')
            #step2
              .span7
                #title
                  h2  Collection 
                  fieldset
                    .control-group
                       label.control-label(for='collectionname') title
                       .controls
                         label.control-label
                           input#collectionname(type='text', name='title')
                    .dataform
                  .form-actions
                    ul.pager
                      li
                        a#createCollectionBtn(href='#') Save
                    .dummy
          form.form-horizontal#serieCreation(enctype='multipart/form-data', method='post', action='')
            #step3
              .span7
                #title
                  h2  Series 
                  fieldset
                    .control-group
                       label.control-label(for='series') Choose the collection
                       .controls
                         label.control-label
                           select.seriesCollection.chzn-select(name="collection", data-placeholder="Choose an collection...")
                    .control-group
                       label.control-label(for='seriename') name
                       .controls
                         label.control-label
                           input#seriename(type='text', name='title')
                    .control-group
                       label.control-label(for='author') author
                       .controls
                         label.control-label
                           input#author(type='text', name='author')
                   .dataform
                  .form-actions
                    ul.pager
                      li
                        a#createSerieBtn(href='#') Save
                    .dummy
          form.form-horizontal#itemCreation(enctype='multipart/form-data', method='post', action='')
            #step4
              .span7
                h2 Item
                p Add items to a series.
                    .control-group
                       label.control-label(for='amount') Amount of items
                       .controls
                         label.control-label
                           input#amount(type='number', name='amount')
                    .control-group
                       label.control-label(for='series') What is the parent?
                       .controls
                         select#itemEditSelection.chzn-select(data-placeholder="Choose an option...", name="collection")
                .dataform
                .form-actions
                  ul.pager
                    li
                      a#createItemBtn(href='#') Save
                  .dummy  

      include _includes/footer
