include header

div.container
      ul.breadcrumb
        li.active
          a(href='#step1') Select
          span.divider |
        li
          a(href='#step2') Series
          span.divider |
        li
          a(href='#step3') Item
          span.divider |
        li
          a.breaddisabled(href='#step4') Overview
      .dummy
      .row
        include properties
        #step1
          .span7
            form.form-horizontal
              legend What do you want to create?
              .control-group
                 label.control-label(for='series') Series
                 .controls
                   label.checkbox
                     input#series(type='checkbox', value='series')
              .control-group
                 label.control-label(for='item') Item
                 .controls
                   label.checkbox
                     input#item(type='checkbox', value='item')
              .form-actions
                ul.pager
                  li
                    a#step2Btn(href='#step2') Next
                .dummy
        div
          form.form-horizontal#itemCreation(enctype='multipart/form-data', method='post', action='createitem')
            #step2
              .span7
                #title
                  h2  Series 
                  fieldset
                    .control-group
                       label.control-label(for='name') Name
                       .controls
                         label.control-label
                           input#name(type='text', name='name')
                    .control-group
                       label.control-label(for='author') Author
                       .controls
                         label.control-label
                           input#author(type='text', name='author')
                  .form-actions
                    ul.pager
                      li
                        a(href='#step3') Next
                    .dummy
            #step3
              .span7
                h2 Item
                .dataform
                    .control-group
                       label.control-label(for='amount') Amount of items
                       .controls
                         label.control-label
                           input#amount(type='text', name='amount')
                .form-actions
                  ul.pager
                    li
                      a(href='#step2') Previous
                    li
                      a#subItem(href='#step4') Save
                  .dummy  
        #step4
          .span7
            h2 Overview
            .form-actions
              ul.pager
                li
                  a(href='#step3') Previous
              .dummy

      include footer
