include _includes/header

div.container
      ul.breadcrumb
        li.active
          a(href='#collections') Create
      .dummy
      .row
        include _includes/properties
        #step1
          .span12
              .alert.alert-success.successbox
                 a.close(data-dismiss='alert') ×
                 strong Successful
                 p Creation successful!
              form   
                legend What do you want to create?
                ul.breadcrumb
                  li /
                .div
                  |Add:
                  a.btn#createItems(href='#step4') Item
                  a.btn#createSerie(href='#step3') Series
                  a.btn#createCollection(href='#step2') Collection
                  a.btn#createMedia(href='#step5') Media
                table#series-table.table.table-striped.table-bordered
                  thead
                    tr
                      th Title
                      th Type
                  tbody
        div
          form.form-horizontal#collectionCreation(enctype='multipart/form-data', method='post', action='')
            #step2
              .span7
                #title
                  legend  Collection 
                  fieldset
                    .dataform
                  .form-actions
                    ul.pager
                      li
                        a#createCollectionBtn(href='#') Save
                    .dummy
          form.form-horizontal#serieCreation(enctype='multipart/form-data', method='post', action='')
            #step3
              .span7
                #title
                  legend Series 
                  fieldset
                    .control-group
                       label.control-label(for='series') parentId
                       .controls
                         label.control-label
                           input#seriesCollection.input-xlarge.disabled(type='text', disabled='')
                   .dataform
                  .form-actions
                    ul.pager
                      li
                        a#createSerieBtn(href='#') Save
                    .dummy
          form.form-horizontal#itemCreation(enctype='multipart/form-data', method='post', action='')
            #step4
              .span7
                legend Item
                p Add items to a series.
                    .control-group
                       label.control-label(for='amount') Amount of items
                       .controls
                         label.control-label
                           input#amount(type='number', name='amount')
                    .control-group
                       label.control-label(for='series') parentId
                       .controls
                         input#itemEditSelection.input-xlarge.disabled(type='text', disabled='')
                .dataform
                .form-actions
                  ul.pager
                    li
                      a#createItemBtn(href='#') Save
                  .dummy
          #step5
           include _includes/upload
      include _includes/footer
