include _includes/header

div.container
      ul.breadcrumb
        li.active
          a(href='#collections') Step 1
          span.divider |
        li
          a(href='#step2') Step 2
          span.divider |
        li
          a(href='#step3') Step 3
          span.divider |
        li
          a.breaddisabled(href='#step4') Overview
      .dummy
      .row
        include _includes/properties
        #step1
          .span12
            form.form-horizontal
              legend Select the objects you want to edit
              .breadcrumb
                li /
              .control-group
                table#series-table.table.table-striped.table-bordered
                  thead
                    tr
                      th.span1
                        input#checkAll(type="checkbox")
                      th Title
                      th Type
                  tbody
                    tr#loadingDiv 
                      td Loading...
              .form-actions
                ul.pager
                  li
                    a#step2Btn(href='#step2') Edit Selected
                .dummy
        div
            #step2
              .span7
                .alert.alert-success.updatebox
                    a.close(data-dismiss='alert') ×
                    strong Updated
                #single
                 form.form-horizontal#singleData
                   legend Single edit: Metadata
                   
                   a.btn.previousItemBtn(href='#') <
                   a.btn.nextItemBtn(href='#') >
                   .pIdContainer
                     p ParentId:
                     .pId None
                     a.btn#pIdBtn(data-toggle='modal', href='#myModal') Change
                   .dummy

                   fieldset
                     .dataform
                     .alert.alert-success.successbox
                        a.close(data-dismiss='alert') ×
                        strong Successful
                        p Creation successful!

                  .form-actions
                    ul.pager
                      li
                        a#step3EditBtn(href='#step3') Next Step
                      li
                        a#editItem2(href='#') Save
                    a.btn.previousItemBtn(href='#') <
                    a.btn.nextItemBtn(href='#') >
                    .dummy
                #multi
                 form.form-horizontal#globalData
                   legend Global edit: Add the properties you want to add or edit
                   a.btn.previousItemBtn(href='#') <
                   a.btn.nextItemBtn(href='#') >
                   .dummy

                   fieldset
                     .dataform
                     .alert.alert-success.successbox
                        a.close(data-dismiss='alert') ×
                        strong Successful
                        p Creation successful!

                  .form-actions
                    ul.pager
                      li
                        a#gblUpdate(href='#') Save
                    a.btn.previousItemBtn(href='#') <
                    a.btn.nextItemBtn(href='#') >
                    .dummy
              .span2.list
                      a.btn#gblEdit(href='',value="")
                        |Go to global edit
                      .items
                        h2 Items            
                        ul#list1
            #step3
              .span7
                h2 Digital media
                .control-group
                  label.control-label(for='surcheck') Media:
                  .controls
                    label.checkbox
                      input#surcheck.checkbox(type='checkbox', name='surcheck')
                      | I have media (images,video,...).
                #fileBox.control-group
                  label.control-label(for='media') Upload your file:
                  .controls
                    input#media(type='file', name='media')
                    p.help-inline Surrogates will be generated automatically
                    #fileContainer
                h2 Images included
                #imageContainer
                .form-actions
                  
                  ul.pager
                    li
                      a(href='#step2') Previous Step
                    li
                      a#editItem2(href='#') Save
                  .dummy 
              .span2.list
                      .items
                        h2 Items
                        ul#list2 
        #step4
          .span7
            h2 Overview
            .form-actions
              ul.pager
                li
                  a(href='#step3') Previous
              .dummy
      include _includes/footer
#myModal.modal.hide.fade
    .modal-header
        a.close.mdl(data-dismiss='modal') ×
        h3 Select the new parent
      .modal-body
        table#pIdTalbe-table.table.table-striped.table-bordered
         thead
                    tr
                      th.span1
                      th Title
                      th Type
                  tbody
      .modal-footer
        a.btn(href='#', data-dismiss='modal') Close
        a.btn.btn-primary#pidSelect(href='') Select
      