include _includes/header
div.container
  .row
      include _includes/properties
      div
          form.form-horizontal#updateObjects(enctype='multipart/form-data', method='post', action='')
              .span7
                #title
                  h2  Global edit 
                  fieldset
                    .control-group
                       label.control-label(for='collectionname') ProjectId
                       .controls
                         label.control-label
                           input#parentId(type='text', name='_id', value="#{_id}", disabled='')
                    .dataform
                  .form-actions
                    ul.pager
                      li
                        a#updateItems(href='#') Update
                    .dummy
    include _includes/footer