include _includes/header
div.container
  .row
      #properties.span4
          #step1Info
              a.btn(href='#', data-toggle='collapse', data-target='#proper')
                i.icon-plus
                h2 Properties
              #proper.accordion.collapse
                script
                  $("#proper").append(createPropertyButtons());
      div.span7
          .alert.alert-success.updatebox
                    a.close(data-dismiss='alert') ×
                    strong Updated
          form.form-horizontal#updateObjects(enctype='multipart/form-data', method='post', action='')
              .span7
                #title
                  h2  Global edit 
                  fieldset
                    .control-group
                       label.control-label(for='collectionname') ProjectId
                       .controls
                         label.control-label
                           input#parentId(type='text', name='_id', value="#{_id}", disabled='')
                    .dataform
                  .form-actions
                    ul.pager
                      li
                        a#updateItems(href='#') Update
                    .dummy
    include _includes/footer