include _includes/header
div.container
      .actionBar
        input.btn.btn-success.approveItem(type="button",value="Approve") 
        a.btn#editBtn(href='/edit') Edit
      #overview
      include _includes/footer