include _includes/header
div.container
      .actionBar
        input.btn.btn-success.approveItem.btn-mini(type="button",value="Approve") 
        a.btn#editBtn.btn-mini(href='/edit') Edit
      #overview
      include _includes/footer