#properties.span4
          #step1Info
            h2 Step 1
            - if (title == "Edit")
                p Select the serie you want to edit
            - else
                p What do you want to create?
          #step2Info
            - if (title == "Edit")
              a(href='#', data-toggle='collapse', data-target='#proper')
                h2 Properties
              #proper.accordion.collapse
                script
                  $("#proper").append(createPropertyButtons());
              #items
                  a(href='#', data-toggle='collapse', data-target='#list')
                    h2 Items            
                    ul#list.accordion.in
            - else
              h2 Series properties
              p Fill in the required info.
          #step3Info
            -if (title =="Edit")
              h2 Media
              p
              | Add some media if you have it.
            -else
              h2 Item properties
              script
                $("#step3Info").append(createPropertyButtons());
          #step4Info
            h2 Overview
            p
              | This is an overview of the data that will be stored. Please check this data so that you are sue everything is correct.
          