#properties.span4
          #step1Info
            h2 Step 1
            p Select the serie you want to edit
          #step2Info
            a(href='#', data-toggle='collapse', data-target='#proper')
              h2 Properties
            #proper.accordion.in
              script
                $("#proper").append(createPropertyButtons());
            #items
              a(href='#', data-toggle='collapse', data-target='#list')
                h2 Items            
              ul#list.accordion.in
          #step3Info
            h2 Media
            p
            | Add some media if you have it.
          #step4Info
            h2 Overview
            p
              | This is an overview of the data that will be stored. Please check this data so that you are sue everything is correct.
          