#container.container-fluid
    .navbar
        .navbar-inner
          .container(style='width: auto;')
            a.brand(href='#') Project name
            .nav-collapse
              ul.nav
                li.active
                  a(href='#') Home
                li
                  a(href='#') Link
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Dropdown
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li.nav-header
                      | Nav header
                    li
                      a(href='#') Separated link
                    li
                      a(href='#') One more separated link
              ul.nav.pull-right
                li.divider-vertical
                li
                  a(href='#') Log out
            //
               /.nav-collapse 
        //
           /navbar-inner 
      //
         /navbar 
      ul.breadcrumb
        li
          a(href='#step4') Overview
      .row
        #properties.span4
          #step4Info
            h2 Overview
            p
              | This is an overview of the data that will be stored. Please check this data so that you are sue everything is correct.
        #step4
          .span7
            h2 Overview
            #div
               table(class="table table-bordered")
                 tbody
                   each val, key in data
                      tr
                        td #{key}:
                        td #{val}
            img(src='#{url}')
