*{
	margin:0;
	padding:0;
}
p{
	font-size: 1em;
}
#properties,#items{
	background-color: #F9F9F9;
	border-radius:4px;
	padding:10px;
	float:left;
	margin-top:-50px;
}
#items{
	margin-top: -70px;
	margin-left: 30px;
}
#container{
	margin-top:20px;
}

#step2 input, #step2 form a{
	float:left;
	margin-right: 5px;
}
#properties button{
	width: 95%;
	margin-bottom: 5px;
}

#properties .btn{
	text-align: left;
}

.accordion-heading-focus{
	background-color: #3B773B;
	color:#FFF;
}

.accordion-heading-focus a{
	color: #FFFFFF;
}

.breadcrumb{
	margin-left:330px;
}

.breaddisabled,.breaddisabled:hover{
	color: #999999;
	text-decoration:none;
   cursor: default;
}
.pager{
	float:right;
}

.dummy{
	clear:both;
}

.type{
	display: none;
}

#step1 input{
	float: left;
	margin-right: 5px;
}

#options2 div{
	float:left;
}

#step1 ul{
	list-style: none;
	width: 210px;
}

#step1 #options2 li{
	background-color: #EEE;
	border: #DDD 1px solid;
	padding:0.2em;
	height: 18px;
	cursor: pointer;
}

li.selected{
	background-color: #3B773B!important;
	color:#FFF;
}
.row{}
