*{
	margin:0;
	padding:0;
}
p{
	font-size: 1em;
}
.center{
	text-align:center;
}
#properties{
	background-color: #F9F9F9;
	border-radius:4px;
	padding:5px;
	float:left;
	width:155px;
}
#properties .selectData{
	display:none;
}

#container{
	margin-top:20px;
}
#step2 input,#step3 input, #step3 form a,#step4 input, #step4 form a{
	float:left;
	margin-right: 5px;
}
#properties button{
	width: 90%;
	margin-bottom: 5px;
}

#properties .btn{
	text-align: left;
}
div#step1Info a.btn,div#step2Info a.btn,div#step3Info a.btn,div#step4Info a.btn{
	width: 88%;
	margin-bottom: 5px;
}
.accordion-heading-focus{
  padding:5px;
  background-color: #3875d7;  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  color: #fff;
}

.accordion-heading-focus a{
	color: #FFFFFF;
}

.breaddisabled,.breaddisabled:hover{
	color: #999999;
	text-decoration:none;
   cursor: default;
}
.pager{
	float:right;
}

.dummy{
	clear:both;
}

.type{
	display: none;
}


li.selected{
	background-color: #3B773B!important;
	color:#FFF;
}
.form-actions{
	padding-left:5px !important;
}

.items ul li{
	list-style: none;
	padding-left: 5px;
	margin-left: 0;
}
.items ul{
	margin-left: 0;
}
.successbox,.updatebox{
	display: none;
}
#loginForm {
	margin:0;
	margin-top:10px;
}
#loginForm li{
	float:left;
}
#loginForm label{
	color:#999;
	float:left;
	margin-right: 5px;
}
#loginForm input[type="text"],#loginForm input[type="password"]{
	width: 100px;
	margin-right: 10px;

}
#loginForm input{
		margin-top:-3px;
}
#createItems, #createSerie,#createCollection{
	margin-right:10px;
}
.div{
	margin-bottom:10px;
}

.btn h2,.pId,.pIdContainer p,#step2 .well,#step2 span7,.list{
	float:left
}

#properties i{
	float:right;
	margin-top:10px;
}

#step2 .list,#step3 .list{
	background-color: #F9F9F9;
	border-radius:4px;
	width:180px;
	padding:5px;
}

#step2 fieldset{
	margin-top:10px;
}
.pIdContainer{
	float:right;
}
.pId{
	margin-right:5px;
}
.formInput{
	padding:10px;

	border:#DDD solid 1px;
}
.formInput h3{
	display: inline;
}
.formInput hr{
	margin:0;
	margin-bottom:5px;
}

.inputBox{
	width:90%;
	padding:3px;
	clear:both;
}
inputBox .close,.controls input,textarea{
	float:left;
	margin-right: 3px;
}
.inputBox br,.controls br{
	clear: both;
}
.specialClose{
	margin-top:-30px;
}
form ul{
	list-style-type: none;
	margin:0;
}
#loadingDiv td{
	text-align:center;
}
#multi{
	display:none;
}
.dataform .chzn-container{
	width: 230px !important;
}
