#properties.span3
          #step2Info
            - if (title == "Edit")
              a.btn(href='', data-toggle='collapse', data-target='#proper')
                i.icon-plus
                h2 Properties
              #proper.accordion.collapse
                script
                  $("#proper").append(createPropertyButtons());
            - else
              a.btn(href='', data-toggle='collapse', data-target='#proper')
                i.icon-plus
                h2 Properties
              #proper.accordion.collapse
                script
                  $("#proper").append(createPropertyButtons());
          #step3Info
            -if (title =="Edit")
              h2 Media
              p
              | Add some media if you have it.
            -else
              a.btn(href='', data-toggle='collapse', data-target='#proper2')
                i.icon-plus
                h2 Properties
              #proper2.accordion.collapse
                script
                  $("#proper2").append(createPropertyButtons());
          #step4Info
            - if (title == "Edit")
              h2 Overview
              p This is an overview of the data that will be stored. Please check this data so that you are sue everything is correct.
            -else
              a.btn(href='', data-toggle='collapse', data-target='#proper3')
                i.icon-plus
                h2 Properties
              #proper3.accordion.collapse
                script
                  $("#proper3").append(createPropertyButtons());
          